
.login-box-body {
    margin-top: 60px;
}

.login-heading {
    text-align: center;
}

.error {
    color: #a94442;
    font-weight: normal;
    margin-bottom: 0;
}

body {
    padding-top: 50px;
}
.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        background-color: #f5f5f5;
        border-right: 1px solid #ccc;
        bottom: 0;
        display: block;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0px;
        position: fixed;
        top: 51px;
        z-index: 1000;
    }
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #e6e6e6;
    color: #ffffff;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
.main {
    padding-left: 20px;
    padding-right: 20px;
}
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}

.active-bg-color{
    background-color: #e6e6e6;
}

.sidebar-subheading {
    border-top: 1px solid #ddd;
    margin: 15px 15px 0;
    padding: 10px 0 5px;
    color: #707070;
    font-weight: bold;
    display: block;
    text-transform: 	uppercase;
}

.sidebar .nav > li > a {
    padding: 7px 15px;
}

.panel-default > .panel-heading {
    background-color: #1f5080;
    color: #ffffff;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #1f5080;
    border-color: #337ab7;
    color: #ffffff;
    cursor: default;
    z-index: 2;
}

.btn-primary, .btn-success {
    background: #1f5080 none repeat scroll 0 0 !important;
    border: transparent;
}


.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus,
.btn-success:hover, .btn-success:active, .btn-success:visited, .btn-success:focus {
    background: #1f5080 none repeat scroll 0 0 !important;
}
